<mat-card class="mat-elevation-z8">
  <form [formGroup]="loginForm">
    <mat-card-header>
      <mat-card-title>{{'auth.logging' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>{{'auth.username' | translate}}</mat-label>
              <input matInput formControlName="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>{{'auth.password' | translate}}</mat-label>
              <input id="password" matInput formControlName="password" type="password" required showHideInput>
              <i matSuffix
                 class="material-icons"
                 showHideTrigger="password"
                 [showHideStatus]="{ materialIcon: true, id: 'password' }"
              ></i>
            </mat-form-field>
          </td>
        </tr>

      </table>
      <mat-spinner [style.display]="loading ? 'block': 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="onSubmit()" [disabled]="loading" color="primary"
              mat-raised-button>{{'auth.action-login' | translate}}</button>
      <button mat-raised-button routerLink="/register">{{'auth.register' | translate}}</button>
    </mat-card-actions>
  </form>

</mat-card>
