<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{'debt.add.panel-title'|translate}}
    </mat-panel-title>
    <mat-panel-description>
      {{'debt.add.panel-description'|translate}}
    </mat-panel-description>
  </mat-expansion-panel-header>


  <div>
    <form [formGroup]="debtForm" class="debt-form">
      <div fxLayout="row"
           fxLayout.lt-sm="column">

        <mat-form-field fxFlex="30">
          <mat-label>{{ 'debt.add.debtor' | translate }}</mat-label>
          <mat-select formControlName="debtor">
            <mat-option
              *ngFor="let username of usernames" [value]="username">
              {{username}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="30">
          <mat-label>{{ 'debt.add.creditor' |translate }}</mat-label>
          <mat-select formControlName="creditor">
            <mat-option
              *ngFor="let username of usernames"
              [value]="username">
              {{username}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>{{ 'debt.add.amount' |translate }}</mat-label>
          <input type="number" matInput formControlName="amount">
          <mat-hint>Minimum 0.01</mat-hint>
        </mat-form-field>
      </div>


      <mat-form-field>
        <mat-label>{{ 'debt.add.description' |translate }}</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>


      <div *ngIf="debtForm.invalid" class="mat-error">

        <div *ngIf="debtForm.get('creditor').touched  && debtForm.get('debtor').touched && debtForm.errors?.sameUser">
          {{ 'debt.add.errors.cred-debt-same' | translate }}
        </div>

        <div *ngIf="debtForm.get('creditor').touched && debtForm.get('creditor').errors && !debtForm.errors?.sameUser"
             class="mat-error">
          {{ 'debt.add.errors.cred-not-set' | translate }}
        </div>
        <div *ngIf="debtForm.get('debtor').touched && debtForm.get('debtor').errors && !debtForm.errors?.sameUser"
             class="mat-error">
          {{ 'debt.add.errors.debt-not-set' | translate }}
        </div>
        <div *ngIf="debtForm.get('amount').touched && debtForm.get('amount').errors" class="mat-error">
          {{ 'debt.add.errors.amount-must-be-positive' | translate }}
        </div>
        <div *ngIf="debtForm.get('description').touched && debtForm.get('description').errors" class="mat-error">
          {{ 'debt.add.errors.desc-empty' | translate }}
        </div>
      </div>


      <mat-action-row fxLayout="row" fxLayoutAlign="space-evenly center">
        <button (click)="onSubmit()" color="primary" mat-raised-button>{{ 'debt.add.button.add' |translate }}</button>
        <button (click)="debtForm.reset()" mat-raised-button
                type="reset">{{ 'debt.add.button.clear' |translate }}</button>
      </mat-action-row>

    </form>

  </div>
</mat-expansion-panel>
