<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Dodaj dług
    </mat-panel-title>
    <mat-panel-description>
      Podaj szczegóły
    </mat-panel-description>
  </mat-expansion-panel-header>


  <div>
    <form [formGroup]="debtForm" class="debt-form">
      <div fxLayout="row"
           fxLayout.lt-sm="column">

        <mat-form-field fxFlex="30">
          <mat-label>Dłużnik</mat-label>
          <mat-select formControlName="debtor">
            <mat-option
              *ngFor="let username of usernames" [value]="username">
              {{username}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="30">
          <mat-label>Wierzyciel</mat-label>
          <mat-select formControlName="creditor">
            <mat-option
              *ngFor="let username of usernames"
              [value]="username">
              {{username}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>Kwota</mat-label>
          <input type="number" matInput formControlName="amount">
          <mat-hint>Minimum 0.01</mat-hint>
        </mat-form-field>
      </div>


      <mat-form-field>
        <mat-label>Opis</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <div *ngIf="debtForm.invalid" class="mat-error">
        <div *ngIf="debtForm.get('creditor').touched && debtForm.get('creditor').errors">
          <div *ngIf="debtForm.get('creditor').errors.SameUser === true">Wierzyciel nie może być taki sam jak dłużnik
          </div>
          <div *ngIf="!debtForm.get('creditor').errors.SameUser"> Wierzyciel musi być ustawiony</div>
        </div>
        <div *ngIf="debtForm.get('debtor').touched && debtForm.get('debtor').errors" class="mat-error"> Dłużnik musi być
          ustawiony
        </div>
        <div *ngIf="debtForm.get('amount').touched && debtForm.get('amount').errors" class="mat-error"> Kwota musi być
          dodatnia
        </div>
        <div *ngIf="debtForm.get('description').touched && debtForm.get('description').errors" class="mat-error">Opis nie
          może być pusty
        </div>
      </div>

      <mat-action-row fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-raised-button (click)="onSubmit()" color="primary">Dodaj</button>
        <button mat-raised-button (click)="debtForm.reset()" type="reset" >Wyczyść</button>
      </mat-action-row>

    </form>

    <!--  <mat-form-field>-->
    <!--    <mat-label>Dłużnik</mat-label>-->
    <!--  </mat-form-field>-->

    <!--    <input matInput placeholder="id">-->
</div>
<!--
Dłużnik
Wierzyciel
ilość
opis
-->
</mat-expansion-panel>
