<!--<div>-->
<mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" *ngIf="currentUser" fxHide.gt-xs fxShow mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ 'home.title' | translate }}</span>



    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-sm="true" *ngIf="currentUser">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <div fxLayout="row">
        <div *ngFor="let route of nav" class="display-flex">
          <button
            mat-button
            routerLink="{{route.path}}"
            *ngIf="!route.requireAdmin || (route.requireAdmin && isAdmin())">
            {{route.title | translate}}
          </button>
        </div>
        <button (click)="logout()" *ngIf="currentUser" mat-button>{{'navigator.logout'|translate}}</button>
        <!--        <span class="example-spacer"></span>-->
        <!--        <app-language></app-language>-->
      </div>
    </div>
  <div fxHide.lt-sm="true" fxShow="true">
    <app-language></app-language>
  </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column" *ngIf="currentUser">
      <div fxLayout="column">
        <mat-list>
          <div *ngFor="let route of nav" fxLayoutAlign="center">
            <mat-list-item *ngIf="!route.requireAdmin || (route.requireAdmin && isAdmin())">
              <a mat-button
                 (click)="sidenav.toggle()"
                 routerLink="{{route.path}}"
                 routerLinkActive="active">
                {{ route.title | translate}}
              </a>
            </mat-list-item>
          </div>
          <mat-list-item>
            <app-language></app-language>
          </mat-list-item>

          <mat-list-item>
            <a (click)="logout()" *ngIf="currentUser" mat-button>{{'navigator.logout'|translate}}</a>

          </mat-list-item>
        </mat-list>

      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="app-content">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
<!--</div>-->
