<mat-toolbar color="primary" class="expanded-toolbar" *ngIf="currentUser">
  <span>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    <button mat-button routerLink="/">{{title}}</button>
  </span>
  <div *ngFor="let route of nav">
    <button mat-button routerLink="{{route.path}}" *ngIf="route.requireAdmin && isAdmin()">{{route.title}}</button>
  </div>
  <span class="fill-remaining-space"></span>
  <button mat-button (click)="logout()">Wyloguj</button>

</mat-toolbar>
<app-alert></app-alert>
<router-outlet></router-outlet>
