<div fxLayout="column" fxLayoutAlign="space-evenlly stretch" fxLayoutGap="20px">

  <div>

    <mat-accordion>

      <app-add-debt></app-add-debt>

      <app-debt-filter (filterEvent)="receiveMessage($event)"></app-debt-filter>

    </mat-accordion>

  </div>

  <div class="rounded">
    <mat-table
           matSort
           [dataSource]="dataSource" class="mat-elevation-z8">

      <!--      <div fxLayout="row"-->
      <!--           fxLayout.lt-sm="column">-->

      <ng-container [matColumnDef]="column.field" *ngFor="let column of displayColumns">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.translateField | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element"
                  attr.data-label="{{column.translateField | translate}}">{{element[column.field]}}</mat-cell>
        <mat-footer-cell *matFooterCellDef> {{column.footer | translate}}</mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-header-cell
                         mat-sort-header>{{'debt.table.header.amount' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element"
                  attr.data-label="{{'debt.table.header.amount' | translate}}">{{element.amount | currency: 'PLN'}}</mat-cell>
        <mat-footer-cell *matFooterCellDef mat-footer-cell> {{summary | currency: 'PLN'}}</mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-header-cell
                         mat-sort-header>{{'debt.table.header.state' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element"
                  attr.data-label="{{'debt.table.header.state' | translate}}">{{ getStatus(element.status) | translate }}</mat-cell>
        <mat-footer-cell *matFooterCellDef mat-footer-cell></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-header-cell
                         mat-sort-header>{{'debt.table.header.date' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element"
                  attr.data-label="{{'debt.table.header.date' | translate}}">{{element.date | date}}</mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef mat-header-cell>{{'debt.table.header.action' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element" attr.data-label="{{'debt.table.header.action' | translate}}">
          <button
            (click)="confirm(element)"
            *ngIf="showConfirmButton(element)"
            mat-icon-button
            matTooltip="{{'debt.table.hint.confirm' | translate}}">
            <mat-icon>check_circle_outline</mat-icon>
          </button>
          <button
            (click)="resolve(element)"
            *ngIf="showResolveButton(element)"
            mat-icon-button
            matTooltip="{{'debt.table.hint.resolve' | translate}}">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef mat-footer-cell></mat-footer-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row
          [ngClass]="getRowStyle(element)"
          *matRowDef="let element; columns: columnsToDisplay;"></tr>
      <tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true" fxShow fxHide.lt-sm></tr>

      <!--      </div>-->

    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

  </div>
</div>
