@import '~@angular/material/theming';

.row-creditor {
  background-color: #dff0d8;
}

.row-creditor .mat-column-amount {
  font-weight: bold;
}

.row-debtor {
  background-color: #f2dede;
}

.row-debtor .mat-column-amount {
  font-weight: bolder;
}

.row-debt-resolved {
  background-color: #dfdfdf;

}

.row-debt-resolved .mat-column-amount {
  text-decoration: line-through;

}

.row-debt-not-confirmed {
  background-color: #fcf8e3;
}

.row-debt-not-confirmed .mat-column-amount {
  text-decoration: underline dotted;
  font-style: italic;
  font-size: 80%;
}

tr.mat-footer-row {
  font-weight: bold;
}


.rounded {
  border-collapse: collapse;
  border-radius: 2em;
  overflow: hidden;
  @include mat-elevation(4);
}

