<div fxLayout="column" fxLayoutAlign="space-evenlly stretch" fxLayoutGap="20px">

  <div>

    <mat-accordion >

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dodaj dług
          </mat-panel-title>
          <mat-panel-description>
            Podaj szczegóły
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-add-debt></app-add-debt>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Filtr</mat-panel-title>
        </mat-expansion-panel-header>
        <app-debt-filter (filterEvent)="receiveMessage($event)"></app-debt-filter>

      </mat-expansion-panel>

    </mat-accordion>

  </div>

  <div class="rounded responsive-table">
    <table mat-table
           matSort
           [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container [matColumnDef]="column.field" *ngFor="let column of displayColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.show}}</th>
        <td mat-cell *matCellDef="let element">{{element[column.field]}}</td>
        <td mat-footer-cell *matFooterCellDef> {{column.footer}}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kwota</th>
        <td mat-cell *matCellDef="let element">{{element.amount | currency: 'PLN'}}</td>
        <td mat-footer-cell *matFooterCellDef> {{summary | currency: 'PLN'}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Stan</th>
        <td mat-cell *matCellDef="let element">{{getStatus(element.status) }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
        <td mat-cell *matCellDef="let element">{{element.date | date}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef>Akcje</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button *ngIf="showConfirmButton(element)" (click)="confirm(element)">
            <mat-icon>check_circle_outline</mat-icon>
          </button>
          <button mat-icon-button *ngIf="showResolveButton(element)" (click)="resolve(element)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row
          [ngClass]="getRowStyle(element)"
          *matRowDef="let element; columns: columnsToDisplay;"></tr>
      <tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true" fxShow fxHide.lt-sm></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

  </div>
</div>
