<mat-card>
  <mat-card-header>
    <mat-card-title>Rejestracja</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm">
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Nazwa użytkownika</mat-label>
              <input matInput formControlName="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Imię</mat-label>
              <input matInput formControlName="firstName" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Nazwisko</mat-label>
              <input matInput formControlName="lastName" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Hasło</mat-label>
              <input matInput [type]="showPassword.checked ? 'text' : 'password'"
                     formControlName="password" required>
              <mat-hint align="start">Minimalna długość 5</mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <div class="show-password">
              <mat-checkbox #showPassword>Pokaż hasło</mat-checkbox>
            </div>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" color="primary">Zarejestruj</button>
    <button mat-button routerLink="/">Anuluj</button>
  </mat-card-actions>
</mat-card>
