<mat-card>
  <mat-card-header>
    <mat-card-title>Rejestracja</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm">
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Nazwa użytkownika</mat-label>
              <input matInput formControlName="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Imię</mat-label>
              <input matInput formControlName="firstName" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Nazwisko</mat-label>
              <input matInput formControlName="lastName" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Hasło</mat-label>
              <input id="password" matInput formControlName="password" type="password" required showHideInput>
              <mat-hint align="start">Minimalna długość 5</mat-hint>
              <i matSuffix
                 class="material-icons"
                 showHideTrigger="password"
                 [showHideStatus]="{ materialIcon: true, id: 'password' }"
              ></i>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Powtórz hasło</mat-label>
              <input id="confirmPassword" matInput formControlName="confirmPassword" type="password" required showHideInput>
              <i matSuffix
                 class="material-icons"
                 showHideTrigger="confirmPassword"
                 [showHideStatus]="{ materialIcon: true, id: 'confirmPassword' }"
              ></i>
            </mat-form-field>
          </td>
        </tr>

      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" color="primary">Zarejestruj</button>
    <button mat-raised-button routerLink="/">Anuluj</button>
  </mat-card-actions>
</mat-card>
