<mat-card>
  <mat-card-header>
    <mat-card-title>{{'auth.register' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm">
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>{{'auth.username' | translate}}</mat-label>
              <input matInput formControlName="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>{{'auth.name' | translate}}</mat-label>
              <input matInput formControlName="firstName" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>{{'auth.second-name' | translate}}</mat-label>
              <input matInput formControlName="lastName" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>{{'auth.password' | translate}}</mat-label>
              <input id="password" matInput formControlName="password" type="password" required showHideInput>
              <mat-hint align="start">{{'auth.pass-req' | translate}}</mat-hint>
              <i matSuffix
                 class="material-icons"
                 showHideTrigger="password"
                 [showHideStatus]="{ materialIcon: true, id: 'password' }"
              ></i>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>{{'auth.repeat-pass' | translate}}</mat-label>
              <input id="confirmPassword" matInput formControlName="confirmPassword" type="password" required showHideInput>
              <i matSuffix
                 class="material-icons"
                 showHideTrigger="confirmPassword"
                 [showHideStatus]="{ materialIcon: true, id: 'confirmPassword' }"
              ></i>
            </mat-form-field>
          </td>
        </tr>

      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="onSubmit()" color="primary" mat-raised-button>{{'auth.action-register' | translate}}</button>
    <button mat-raised-button routerLink="/">{{'auth.action-cancel' | translate}}</button>
  </mat-card-actions>
</mat-card>
