<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>{{'debt.filter.title'|translate}}</mat-panel-title>
  </mat-expansion-panel-header>

  <div fxLayout="row"
       fxLayout.lt-sm="column">

    <mat-form-field fxFlex="16">
      <mat-label>{{'common.debtor'|translate}}</mat-label>
      <mat-select [formControl]="debtors" multiple>
        <mat-option *ngFor="let user of users" [value]="user">{{user}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="16">
      <mat-label>{{'common.creditor'|translate}}</mat-label>
      <mat-select [formControl]="creditors" multiple>
        <mat-option *ngFor="let user of users" [value]="user">{{user}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'common.debt'|translate}}</mat-label>
      <mat-select [formControl]="amountType" #amountValueType>
        <mat-select-trigger *ngIf="amountType.value == '<'">{{'debt.filter.gt' | translate}}</mat-select-trigger>
        <mat-select-trigger *ngIf="amountType.value == '>'">{{'debt.filter.lt' | translate}}</mat-select-trigger>
        <mat-select-trigger *ngIf="amountType.value == '='">{{'debt.filter.eq' | translate}}</mat-select-trigger>

        <mat-option value="<">{{'debt.filter.gt' | translate}}</mat-option>
        <mat-option value=">">{{'debt.filter.lt' | translate}}</mat-option>
        <mat-option value="=">{{'debt.filter.eq' | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field [hidden]="amountValueType.empty">
      <mat-label>{{'debt.filter.val' | translate}}</mat-label>
      <input [formControl]="amount" matInput placeholder="{{'debt.filter.val' | translate}}" type="number">
    </mat-form-field>
  </div>
</mat-expansion-panel>
